body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}
.food{
    position: relative;
    width: 33%;
    float: left;
    padding: 24% 0 0 0;
    text-align: center;
}
.foodName{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 1.4rem;
    color: #fff;
}
